@font-face {
	font-family:'breeze';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Breeze-Personal/Breeze.ttf');
}
html{
	height: 100%;
}

body{
	background: #FFF;
	font-size: 14px;
	font-weight: 300;
}
h1, h2, h3, h4 h5, h6{
	font-family: 'breeze';
	color: #FFF;
}
h1{
	text-shadow: 2px 2px 2px #5A5A5A;
	position: relative;
	margin-top: 0;
}
h1 img{
	position: absolute;
	height: 100%;
}
h1 span{
	color: #83B541;
	margin-left: 32px;
}
p, h3, h4{
	font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
}
.sup{
	margin-top: 55px;
	text-align: center;
	background: url('../images/fondo1.jpg') no-repeat 100% / 100%;
	background-position: 0% 70%;
}
@media(max-width: 480px){
	.sup{
		background: url('../images/fondo1.jpg') no-repeat 100%;
	}
}
.sup > .row{
	background: transparent url("../images/dott.png") repeat scroll 0px 0px / 2px auto;
	padding: 20px 10px;
	min-height: 150px;
}
.sup  p{
	font-size: 28px;
	color: #fff;
}
.med .lug{
	text-align: center;
}
.med .lug h2{
	color: #83B541;
}
/****navbar****/
#nav{
	font-size: 12px;
}
.navbar{
	margin: 0px;
}
.navbar-brand{
	padding:5px;
}
ul.navbar-right {
	padding: 5px;
}
.navbar .navbar-right li{
	text-align: center;
	margin: 0px 5px;
	border-radius: 2px;
}
.navbar .navbar-right li:hover{
	background:#83B541;
	color: #fff; 
}

.navbar .navbar-right > li > a{
	text-transform: uppercase;
	font-weight: 400;
	color:#83B541;
	padding: 10px;
	border-radius: 2px;
}
.navbar .navbar-right > li > a:hover{
	color: #fff;
}	
.navbar .navbar-right li.active > a{
	background: #83B541;
	color: #fff;
}
.navbar .navbar-right li.active > a:hover{
	background: #83B541;
	color: #fff;
}


/****Slider*****/
#presentacion{
  height: 400px;
}
#slider{
  position: relative;
  min-height: 100%;
}
#slider li{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
}
#slider .cnt-img{
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height:100%;
}
#slider .cnt-txt{
  text-align: center;
  position: absolute;
  top: 30%;
  margin: 0px auto;
}
#slider li img{
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: -35%;
}
#slider li{
  display: none;
}
#slider li:first-child{
  display: block;
}
#slider li p, #slider li em{
  font-size: 3em;
  color:#FFF;
  margin: 10px 0px;
  font-family: 'breeze';
}
@media(max-width: 992px){
  #slider li img{
    top:0px;
  }
}
/*****Pestañas*****/
.pest{
	padding-top: 10px;
}
.pest.nav-tabs > li > a{
	background: #DAE6CC;
	color:#83B541;
}
.pest.nav-tabs > li.active > a{
	background: #83B541;
	color:#FFF;
}
.pest.nav-tabs .fa{
	padding-right: 2px; 
}
@media(max-width: 340px){
	.nav > li > a{
		padding: 10px;
	}
}
/*******Tiki Mensajes personas*******/
.contTikiMsj{
	padding: 8px;
	border: 1px solid #83B541;
	border-radius: 7px;
	margin: 5px 0px;
	background: #FFF;
}
.contTikiImg, .contTikiTxt{
	display: table-cell;
}
.contTikiImg img{
	border-radius: 100%;
	width: 60px;
	height: 60px;
}
.contTikiTxt{
	height: 60px;
	vertical-align: top;
	padding: 5px;
}
.contTikiTxt div{
	display: block;
}
.contTikiTxt em{
	color: #83B541;
	font-size: 14px;
}
.contTikiTxt .fa{
	padding: 4px 8px;
	color: #83B541;
	cursor: pointer;
}
.contTikiTxt .fa span{
	margin-left: 2px;
	  font-family: Arial, Helvetica, Verdana;
}
.contTikiTxt .fa-heart:hover{
	color:red;
}
.contTikiTxt .fa-commenting:hover{
	color: #ba00ff;
}
.contTikiTxt .fa-share:hover{
	color:#06f;
}
.contTikiTxt .fa-envelope:hover{
	color:#ffab00;
}
/*******Destinos*********/
.contDestino{
	position: relative;
	max-height: 120px;
	overflow: hidden;
	margin-bottom: 5px;
}

.contDestino img{
	width: 100%;
	height: 100%;
}
.contTxtDestino{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: left;
	cursor: pointer;
	background: linear-gradient(10deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0)) repeat scroll 0% 0%;
}
.contTxtDestino:hover{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0)) repeat scroll 0% 0%;
}
.contTxtDestino h3{
	position: absolute;
	bottom: 0px;
	margin: 5px 5px;
}