@font-face {
	font-family:'breeze';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Breeze-Personal/Breeze.ttf');
}
html{
	height: 100%;
}

body{
	background: #FFF;
	font-size: 14px;
	font-weight: 300;
}
h1, h2, h3, h4 h5, h6{
	font-family: 'breeze';
	color: #FFF;
}
h1{
	text-shadow: 2px 2px 2px #5A5A5A;
	position: relative;
	margin-top: 0;
}
h1 img{
	position: absolute;
	height: 100%;
}
h1 span{
	color: #83B541;
	margin-left: 32px;
}
p, h3, h4{
	font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
}
.sup{
	margin-top: 55px;
	text-align: center;
	background-position: 0% 70%;
}
@media(max-width: 480px){
	.sup{
		/*background: url('../images/fondo1.jpg') no-repeat 100%;*/
	}
}
.sup > .row{
	padding: 20px 10px;
	height: auto;
	padding: 0px;
}
.sup  p{
	font-size: 28px;
	color: #fff;
}
.med .lug{
	text-align: center;
}
.med .lug h2{
	color: #83B541;
}
/****navbar****/
#nav{
	font-size: 12px;
}
.navbar{
	margin: 0px;
}
.navbar-brand{
	padding:5px;
}
ul.navbar-right {
	padding: 5px;
}
.navbar .navbar-right li{
	text-align: center;
	margin: 0px 5px;
	border-radius: 2px;
}
.navbar .navbar-right li:hover{
	background:#83B541;
	color: #fff; 
}

.navbar .navbar-right > li > a{
	text-transform: uppercase;
	font-weight: 400;
	color:#83B541;
	padding: 10px;
	border-radius: 2px;
}
.navbar .navbar-right > li > a:hover{
	color: #fff;
}	
.navbar .navbar-right li.active > a{
	background: #83B541;
	color: #fff;
}
.navbar .navbar-right li.active > a:hover{
	background: #83B541;
	color: #fff;
}
/*****tiki******/
.tiki{
	padding: 0px;
	height: 105px;
	cursor: pointer;
	background: #fff;
	text-align: center;
	border: 1px solid #83B541;
	border-right: none;
}
.tiki:last-child{
	border-right: 1px solid #83B541;
}
.tiki:hover{
	background: #dfecac;
}
.tiki .fa-tree{
	font-size: 5em;
	margin: 12px;
	color: #83B541;
}
.tiki img{
	margin: 0px;
	width: 68px;
	height: auto;
}
.us{
	background-image: url('../images/mauro.jpg');
	background-size: 100%;
}
.us:hover{
	background-image: url('../images/mauro.jpg');
	background-size: 100%;
	border: 4px solid #83B541;
}
.us > .fa{
	display: none;
}